<div class="container site-grid mt-20">
  <div class="col-span-full lg:col-span-6 lg:col-start-5">
    <h2 {...Astro.props} class="type-subheading leading-[1.2] font-medium">
      <slot />
    </h2>
  </div>
</div>
