---
import Layout from "../layouts/Layout.astro";
import groq from "groq";

const { menu, contactEmail, description } = await Astro.locals.client
  .fetch(groq`*[_id == 'siteSettings'][0] {
  description,
  contactEmail,
}
`);
const services = [
  "Prototyping & MVPs",
  "Dev Team boost",
  "Creative Technology",
  "Fullstack Design & Development",
];
const technologies = [
  "Next.js",
  "Astro",
  "Sanity",
  "Prismic",
  "Ruby on Rails",
  "Node.js",
  "Svelte",
];
---

<Layout>
  <div
    class="main-content flex items-center flex-col justify-between screen-height py-10"
  >
    <div class="spacer"></div>
    <div class="middle-row container site-grid mx-auto mt-56">
      <h1 class="col-span-4 text-4xl">Rif Ramen</h1>
      <h2 class="col-span-8 text-4xl">
        <span class="inline-block w-[--site-grid-col-width-2]"></span>Digital
        product consulting studio based in Copenhagen, delivering robust,
        user-friendly experiences that make an impact for brands and people in
        collaboration with world-class agencies & creatives.
      </h2>
    </div>

    <div class="bottom-section container site-grid mx-auto">
      <div class="col-span-full sm:col-span-2 lg:col-span-8 h-full mt-12 sm:mt-0 row-start-2 sm:row-start-auto">
        <h2 class="text-xl">Get in touch</h2>
        <ul class="mt-2">
          <li>
            <a class="hover:opacity-60 transition-opacity duration-500" href={"mailto:" + contactEmail}>hello@riframen.com</a>
          </li>
        </ul>
      </div>
      <div class="services col-span-2 sm:col-span-1 lg:col-span-2">
        <h2 class="text-xl">Services</h2>
        <ul class="opacity-80 mt-2">
          {services.map((service) => <li>{service}</li>)}
        </ul>
      </div>
      <div class="technologies col-span-2 sm:col-span-1 lg:col-span-2">
        <h2 class="text-xl">Technologies</h2>
        <ul class="opacity-80 mt-2">
          {technologies.map((technology) => <li>{technology}</li>)}
        </ul>
      </div>
    </div>
  </div>
</Layout>
