<div class="fixed pointer-events-none select-none w-full">
  <div
    class="container site-grid mx-auto"
    data-controller="grid-ruler"
    data-action="resize@window->grid-ruler#updateGridVariables"
  >
    <div class="col-span-1"></div>
    <div class="col-span-1"></div>
  </div>
</div>
