---
import Logo from "./Logo.astro";

const { linkedin } = Astro.props;
---

<header
  data-controller="header"
  data-action="scroll@window->header#updateHiddenStatus mobile-nav:toggle@window->header#toggleMobileIndicator"
>
  <nav class="inner site-grid container">
    <div class="col-span-2 lg:col-span-8 xl:col-span-10 lg:-order-1 order-1">
      <h3>Work of <a href={linkedin} target="_blank">Hakim Mazouz</a>, an interactive designer & fullstack developer.</h3>
    </div>
    <!-- <div class="link link--active">
      Index <span class="indicator"></span>
    </div>
    <div class="link">Work</div>
    <div class="link">Lab</div>
    <div class="col-span-4"></div> -->
    <div class="logo type-body">
      <a aria-label="Link to homepage" href="/" class="logo-link"
        ><Logo class="w-full h-auto" /></a
      >
    </div>
  </nav>
</header>

<style lang="postcss">
  header {
    @apply py-5 lg:pt-12 fixed block top-0 z-20 left-0 w-full transition-all duration-500 ease-out translate-y-0;
    &.hidden {
      @apply -translate-y-full ease-in-out;
    }
  }
  .inner {
    @apply  tracking-[-0.01em];
  }
  .logo {
    @apply col-span-2 lg:col-span-4 xl:col-span-2;
    img {
      @apply h-8 block w-auto;
    }
  }
  .link {
    @apply col-span-2 font-medium opacity-50 cursor-default;
    &--active {
      @apply opacity-100;
    }
  }
  .indicator {
    @apply w-[6px] h-[6px] bg-current rounded-full ml-2 inline-block mb-[2px];
  }
</style>
