<div class="page-header container site-grid">
  <h1 class="type-heading col-span-full lg:col-span-12">{Astro.props.title}</h1>
</div>

<style lang="postcss">
  .page-header {
    @apply  pt-44 pb-8 lg:pb-14 lg:pt-60;
  }
</style>
